# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto
# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.c text
*.h text 

# Declare files that will always have CRLF line endings on checkout.
*.sln text eol=crlf

# Denote all files that are truly binary and should not be modified.
*.png binary
*.jpg binary

# 3D models
*.3dm lfs
*.3ds lfs
*.blend* lfs
*.c4d lfs
*.collada lfs
*.dae lfs
*.dxf lfs

End of Line (EOL) = 0x0D 0x0A = \r\n